#walrus-showing {
  display: none;
}

#show-img {
  display: none;
}

img {
  width: 700px;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.click {
  cursor: pointer;
  color: #0088cc;
}

.click:hover {
  text-decoration: underline;
}

.img-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.small-img {
  width: 200px;
}

.extra-walrus {
  margin-top: 50px;
}

.invert-background {
  background-color: black;
  color: white;
}

.revert-background {
  background-color: white;
  color: black;
}

.button-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
}
body {
  text-align: center;
}

.btn-primary {
  background-color: black;
  border-color: white;
}

.btn-default {
  background-color: white;
  border-color: black;
}