#walrus-showing {
  display: none;
}

#hide-img {
  display: none;
}

img {
  width: 700px;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.click {
  cursor: pointer;
  color: #0088cc;
}

.click:hover {
  text-decoration: underline;
}

.img-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.small-img {
  width: 200px;
}

body {
  text-align: center;
}